.label {
	-fx-font-family: "Andale Mono";
   	-fx-effect: dropshadow(gaussian, rgba(67,96,156,0.25) , 0,0,2,2 );
   	-fx-alignment: center;
}

.button {
	-fx-font-family: "Andale Mono";
	-fx-padding: 6;
	-fx-alignment: center;
	-fx-spacing: 10;
	-fx-alignment: center;
   	-fx-font-size: 1em;
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #001A57;
	-fx-effect: dropshadow(gaussian, rgba(67,96,156,0.25) , 0,0,2,2 );
}

.combo-box {
	-fx-font-family: "Andale Mono";
   	-fx-effect: dropshadow(gaussian, rgba(67,96,156,0.25) , 0,0,2,2 );
   	-fx-alignment: center;
}
